html, body, div, img, section, nav, header{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    background: #F0F0F0;
    box-shadow: 1px 0px 5px #CCC;
}
header h1{
    padding: 20px;
}
#content_main{
    width: 1100px;
    margin: 0 auto;
}
nav ul{
    list-style: none;
}
nav{
    margin: 5px 0px;
    width: 200px;
    float: left;
    background: #F0F0F0;
    box-shadow: 1px 0px 5px #CCC;
}
section{
    margin: 20px;
    width: 850px;
    float: left;
}
#cadastro, #listar{
    display: none;
}
.rotulo{
    width: 175px;
    float: left;
    margin: 5px 0px;
    font-size: 14px;
}
label{
    padding: 5px;
}
.entrada{
    width: 235px;
    float: left;
    margin: 5px 0px;
    font-size: 14px;
}
input{
    padding: 5px;
    border: 1px solid #CCC;
    box-shadow: inset 0px 0px 5px #CCC;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
